@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-width: 100%;
  min-height: 100vh;
  background-image: linear-gradient(120deg, #487eb0, #fbc531);
  background-repeat: no-repeat;
  font-family: 'Poppins', sans-serif;
  font-size: 1em;
}

.error {
  visibility: hidden;
  font-weight: 1000;
  color:rgb(200, 18, 18);
}

.date {
  font-size: 0.7em;
}

.picker-date {
  cursor: pointer;
}

.fas, .far, .fab {
  cursor: pointer;
  font-size: 1.5em;
}

#id_workers {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 30vh;
  padding: 10px;
  line-height: 1.3em;
  font-size: 1.2em;
  font-weight: 800;
  cursor: pointer;
}

#id_workers option {
  margin: auto;
}

#id_workers option:hover {
  color: rgb(166, 44, 22);
  font-weight: 1000;
  background-color: rgba(65, 163, 41, 0.5);
}

#id_post, #id_date_of_birth, #id_priority_of_task, #id_type_of_task, #change-avatar {
  cursor: pointer;
}

.red-text {
  font-weight: 1000;
}

a {
  text-decoration: none;
  color: rgba(41, 54, 51, 0.73);
}

nav .nav-item:hover {
  background-color: rgba(4, 70, 51, 0.78);
}

.animated-icon {
  width: 30px;
  height: 20px;
  position: relative;
  margin: 0px;
  transform: rotate(0deg);
  transition: .5s ease-in-out;
  cursor: pointer;
}

.animated-icon span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: .25s ease-in-out;
}

.animated-icon span {
  background: #e65100;
}

.animated-icon span:nth-child(1) {
  top: 0px;
}

.animated-icon span:nth-child(2) {
  top: 10px;
}

.animated-icon span:nth-child(3) {
  top: 20px;
}

.animated-icon.open span:nth-child(1) {
  top: 11px;
  transform: rotate(135deg);
}

.animated-icon.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
}

.animated-icon.open span:nth-child(3) {
  top: 11px;
  transform: rotate(-135deg);
}

.block-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

#back-to-top-btn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  background-color: #fff;
  color: #333;
  cursor: pointer;
  outline: none;
  border: 3px solid #333;
  border-radius: 50%;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  transition-property: background-color, color;
  z-index: 1000;
}

.form-dialog {
  min-width: 90vw;
  min-height: 95vh;
  padding: 0;
}

.form-content {
  height: 100%;
  border-radius: 0;
}

.user-dialog {
  min-width: 100%;
  min-height: 55vh;
  padding: 0;
}

.user-content {
  height: 100%;
  border-radius: 0;
}

.jumbotron {
  background-color: rgba(158, 204, 171, 0.42);
}

input {
  min-width: 100%;
  text-align: center;
}

.container-fluid img {
  width: 50%;
  height: 50%;
}

#avatar-full {
  width: 100%;
  height: 100%;
}
