{% if new_message %}
<div class="text-justify cyan lighten-4 p-3">
  {{ new_message.message|safe }}
  <hr class="my-3">
  <div class="row created_on">
    <h5>{{ new_message.created_on }}</h5>
  </div>
</div>
{% endif %}

{% if comments %}
{% for comment in comments %}
<div class="row align-items-center green accent-1 p-1 m-3">
  <div class="col-8 p-1 text-justify"><p>{{ comment.comments|safe }}</p></div>
  <div class="col comment_block created_on">{{ comment.author }}</div>
  <div class="col comment_block created_on">{{ comment.created_on }}</div>
</div>
{% endfor %}
{% endif %}

{% if message_list %}
{% for message in message_list %}
<div class="row align-items-center green accent-1 p-1 m-3">
  <div class="col-8 comment_block created_on"><a class="show-message" alt="{{ message.id }}">{{ message.title }}</a></div>
  <div class="col comment_block created_on red-text">{{ message.status }}</div>
  <div class="col comment_block created_on" title="to trash"><i class="far fa-trash-alt" alt="{{ message.id }}"></i></div>
</div>
{% endfor %}
{% endif %}

{% if timelogs %}
{% for log in timelogs %}
<div class="align-items-center light-green lighten-2 p-1 m-3">
  <div class="row m-1 p-1">
    <div class="col-12 timelog_block created_on">{{ log.start_comment }}</div>
    <div class="col-12 timelog_block created_on">{{ log.time_of_start }}</div>
  </div>
  {% if log.time_of_end %}
  <div class="row m-1">
    <div class="col-12 timelog_block created_on">{{ log.end_comment }}</div>
    <div class="col-12 timelog_block created_on">{{ log.time_of_end }}</div>
  </div>
  <div class="row m-1">
    <div class="col-12 timelog_block created_on">Spend time: {{ log.spend_time|time:"H:i:s" }}</div>
  </div>
  {% endif %}
</div>
{% endfor %}
{% endif %}

{% if task and task.is_completed == False %}
<div class="p-1 m-3 white">
  <div class="row align-items-center success-color-dark p-3 m-3">
    <div class="col-6 p-3 created_on warning-color">
      <a title="{{ task.title }}" data-toggle="collapse" data-target="#summary{{ task.id }}">
        <span>{{ task.title }}</span>
      </a>
    </div>
  <div class="col-4 created_on">
    {% if user.is_superuser %}
    <i class="far fa-window-close mr-5 p-2" title="close the task" alt="{{ task.id }}"></i>
    {% endif %}
    <div class="row">
      <div class="p-2 col-xs-12 col-sm-4"><i class="fas fa-sync more" alt="{{ task.id }}" title="synchronize"></i></div>
      {% if not task.is_active %}
      <div class="p-2 col-xs-12 col-sm-4 task_status" id="task_status{{ task.id }}">
        <i class="far fa-check-square" title="start" alt="{{ task.id }}"></i>
      </div>
      {% elif worker == task.worker %}
      <div class="p-2 col-xs-12 col-sm-4 task_status" id="task_status{{ task.id }}">
        <i class="far fa-pause-circle" title="end" alt="{{ task.id }}"></i>
      </div>
      {% else %}
      <div class="p-2 col-xs-12 col-sm-4 task_status">
        <i class="fas fa-lock" title="active"></i>
      </div>
      {% endif %}
      <div class="p-2 col-xs-12 col-sm-4">
        <i class="far fa-plus-square" id="{{ task.id }}" title="add comment"></i>
      </div>
    </div>
  </div>
  <div class="col-2 created_on">
    <div class="row">
    <i class="fas col-xs-12 col-sm-6 p-1 fa-user-clock" title="spend time" alt="{{ task.id }}" id="spendtime{{ task.id }}"><span class="time-block p-1 created_on"> {{ task.spend_time }}</span></i>
    <i class="fas col-xs-12 col-sm-6 p-1 fa-clock" title="estimated time"><span class="time-block p-1 created_on"> {{ task.estimated_time }}</span></i>
    </div>
  </div>
  <div class="text-center col-12 m-1">
    <div id="summary{{ task.id }}" class="collapse">
      <div class="container-fluid grey lighten-2 p-1">
        <div class="row white m-1">
          <div class="col-12 summary-content text-justify p-3" contenteditable="true" id="content{{ task.id }}">{{ task.description|safe }}</div>
          <div class="col m-1 p-1"><i class="fas fa-save" title="save" alt="{{ task.id }}"></i></div>
        </div>
        <div class="row orange accent-1">
          <div class="col-3 created_on">Created: {{ task.date_of_start }}</div>
          <div class="col-3 created_on">Priority: {{ task.get_priority_of_task_display }}</div>
          <div class="col-3 created_on">Type: {{ task.get_type_of_task_display }}</div>
          {% if task.worker %}
          <div class="col-3 task_worker created_on" id="task_worker{{ task.id }}">Worker: {{ task.worker }}</div>
          {% else %}
          <div class="col-3 task_worker created_on" id="task_worker{{ task.id }}">Worker: the task is free</div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
  <div class="silver border border-warning p-1 m-2 text-center" id="more{{ task.id }}">
      <h5>To load comments, just click on the sync button</h5>
  </div>
</div>
{% endif %}

{% if project and project.is_completed == True %}
<div class="card m-3 border border-warning">
  <div class="task m-1 teal lighten-4 row">
  <div class="m-1 project col-7">
    <span title="{{ project.project_name }}">{{ project.project_name }}</span>
  </div>
  <div class="m-1 col-2 ml-auto text-center">
    {% if user.is_superuser %}
    <i class="fas fa-external-link-alt m-1" title="open the project again" alt="{{ project.id }}"></i>
    <i class="fas fa-minus-square m-1" title="to trash" alt="{{ project.id }}"></i>
    {% endif %}
    <i class="fas fa-lock m-1" title="unavailable"></i>
  </div>
  <div class="m-1 col-2 created_on ml-auto" title="end date">{{ project.date_of_end }}</div>
  </div>
</div>
{% endif %}

{% if project and project.is_completed == False %}
<div class="card m-3 border border-info">
  <div class="task m-1 light-green lighten-2 row">
  <div class="m-1 project col-7">
    <a class="project-detail" alt="{{ project.id }}" title="{{ project.project_name }}">{{ project.project_name }}</a>
  </div>
  <div class="m-1 col-2 ml-auto text-center">
    {% if user.is_superuser %}
    <i class="fas fa-times mr-3" title="close the project" alt="{{ project.id }}"></i>
    {% endif %}
    <i class="fas fa-lock-open m-1" title="available"></i>
  </div>
  <div class="m-1 col-2 created_on ml-auto" title="created on">{{ project.created_on }}</div>
  </div>
  <div class="m-1 row">Workers: {{ project.workers.all|join:", " }}</div>
</div>
{% endif %}

{% if task and task.is_completed == True %}
<div class="p-1 m-3 white">
  <div class="row align-items-center teal lighten-4 p-3 m-3">
    <div class="col-12 p-3 unique-color">
      <div class="row">
        <div class="col-11 created_on">
      <a title="completed" data-toggle="collapse" data-target="#summary{{ task.id }}"><span>{{ task.title }}</span></a>
      </div>
      <div class="col-1 mr-auto created_on">
      {% if user.is_superuser %}
      <i class="far fa-calendar-plus mr-3" title="open the task again" alt="{{ task.id }}"></i>
      <i class="fas fa-trash" title="to trash" alt="{{ task.id }}"></i>
      {% else %}
      <i class="far fa-calendar-check m-1"></i>
      {% endif %}
        </div>
      </div>
    </div>
  <div class="text-center col-12 m-1">
    <div id="summary{{ task.id }}" class="collapse">
      <div class="container-fluid grey lighten-2 p-1">
        <div class="row white m-1">
          <div class="col-12 text-justify">{{ task.description|safe }}</div>
        </div>
        <div class="row orange accent-1">
          <div class="col-12">End date: {{ task.date_of_end }}</div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
{% endif %}
