{% if new_user_form %}
<!-- user / worker form block -->
<div class="modal fade card" id="newWorkerForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog form-dialog">
    <div class="modal-content form-content container-fluid text-center p-1">
      <form action="" id="new-worker-form" method="POST">
        <div style="display:none"><input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token_value }}" /></div>
        <div class="modal-header mb-3">
          <h4 class="modal-title font-weight-bold">New Worker</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body jumbotron mx-1">
          <div class="row teal lighten-2 m-1">
            <div class="col-md-6">
              <div class="md-form">
                <i class="fas fa-user-tie mr-2" title="username"></i>
                {{ new_user_form.username }}
              </div>
            </div>
            <div class="col-md-6">
              <div class="md-form">
                <i class="fas fa-envelope mr-2" title="email"></i>
                {{ new_user_form.email }}
              </div>
            </div>
          </div>
          <div class="row teal lighten-2 m-1">
            <div class="col-md-6">
              <div class="md-form">
                <i class="fas fa-key mr-2" title="password"></i>
                {{ new_user_form.password }}
              </div>
            </div>
            <div class="col-md-6">
              <div class="md-form">
                <i class="fas fa-calendar-alt mr-2" title="birth date"></i>Birth date:
                {{ new_worker_form.date_of_birth }}
              </div>
            </div>
          </div>
          <div class="row teal lighten-2 m-1">
            <div class="col-md-6">
              <div class="md-form">
                <i class="fas fa-user-tag mr-2" title="first name"></i>
                {{ new_worker_form.first_name }}
              </div>
            </div>
            <div class="col-md-6">
              <div class="md-form">
                <i class="fas fa-user-tag mr-2" title="last name"></i>
                {{ new_worker_form.last_name }}
              </div>
            </div>
          </div>
          <div class="row teal lighten-2 m-1">
            <div class="col-md-12 md-form input-group">
              <div class="input-group-addon">
                <span class="input-group-text"><i class="fas fa-user-circle mr-2" title="post"></i>Post: </span>
              </div>
              {{ new_worker_form.post }}
            </div>
          </div>
        </div>
        <div class="block-center error p-1"></div>
        <div class="modal-footer block-center">
          <button type="button" class="btn btn-default btn-lg" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-success btn-lg">Add worker</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endif %}

{% if edit_worker_form %}
<div class="modal fade card" id="editWorkerForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog form-dialog">
    <div class="modal-content form-content container-fluid text-center p-1">
      <form action="" id="edit-worker-form" method="POST">
        <div style="display:none"><input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token_value }}" /></div>
        <div class="modal-header mb-3">
          <h4 class="modal-title font-weight-bold">Edit Worker</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body jumbotron mx-1">
          <div class="row teal lighten-2 m-1">
            <div class="col-md-6">
              <div class="md-form">
                <i class="fas fa-envelope mr-2" title="email"></i>
                <input type="email" name="email" id="id_email" placeholder="email" value="{{ email }}">
              </div>
            </div>
            <div class="col-md-6">
              <div class="md-form">
                <i class="fas fa-calendar-alt mr-2" title="birth date"></i>Birth date:
                {{ edit_worker_form.date_of_birth }}
              </div>
            </div>
          </div>
          <div class="row teal lighten-2 m-1">
            <div class="col-md-6">
              <div class="md-form">
                <i class="fas fa-user-tag mr-2" title="first name"></i>
                {{ edit_worker_form.first_name }}
              </div>
            </div>
            <div class="col-md-6">
              <div class="md-form">
                <i class="fas fa-user-tag mr-2" title="last name"></i>
                {{ edit_worker_form.last_name }}
              </div>
            </div>
          </div>
          <div class="row teal lighten-2 m-1">
            <div class="col-md-12 md-form input-group">
              <div class="input-group-addon">
                <span class="input-group-text"><i class="fas fa-user-circle mr-2" title="post"></i>Post: </span>
              </div>
              {{ edit_worker_form.post }}
            </div>
          </div>
          <div class="row teal lighten-2 m-1">
            <div class="col-md-12 md-form block-center input-group">
              <div class="input-group-addon">
                <span class="input-group-text"><i class="fas fa-user-circle mr-2" title="avatar"></i>Avatar</span>
              </div>
              <input class="form-control" type="file" name="avatar" id="id_avatar">
            </div>
          </div>
        </div>
        <div class="block-center error p-1" id="{{ selected_worker }}"></div>
        <div class="modal-footer block-center">
          <button type="button" class="btn btn-default btn-lg" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-success btn-lg">Save worker</button>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- end user / worker form block -->
{% endif %}

{% if new_project_form %}
<div class="modal fade card" id="newProjectForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog form-dialog" role="document">
    <div class="modal-content form-content container-fluid text-center p-1">
      <form action="" id="new-project-form" method="POST" novalidate>
        <div style="display:none"><input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token_value }}" /></div>
        <div class="modal-header mb-1">
          <h4 class="modal-title font-weight-bold">New Project</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body jumbotron mx-1">
          <div class="row teal lighten-2 m-1">
            <div class="col-12">
              <div class="md-form">
                <i class="fas fa-user-tag mr-2" title="project name"></i>
                {{ new_project_form.project_name }}
              </div>
            </div>
          </div>
          <div class="md-form teal lighten-2">
            {{ new_project_form.summary }}
          </div>
          <div class="md-form teal lighten-2 input-group block-center">
            <div class="input-group-addon m-1 text-center">
              <div class="input-group-text block-center">
                <i class="fas fa-users mr-2"></i>Workers<i class="fas fa-users ml-2"></i>
              </div>
            </div>
            {{ new_project_form.workers }}
          </div>
        </div>
        <div class="block-center error p-1"></div>
        <div class="modal-footer block-center">
          <button type="button" class="btn btn-default btn-lg" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-success btn-lg">Add project</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endif %}

{% if edit_project_form %}
<div class="modal fade card" id="editProjectForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog form-dialog" role="document">
    <div class="modal-content form-content container-fluid text-center p-1">
      <form action="" id="edit-project-form" method="POST" novalidate>
        <div style="display:none"><input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token_value }}" /></div>
        <div class="modal-header mb-1">
          <h4 class="modal-title font-weight-bold">Edit Project</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body jumbotron mx-1">
          <div class="row teal lighten-2 m-1">
            <div class="col-12">
              <div class="md-form">
                <i class="fas fa-user-tag mr-2" title="project name"></i>
                {{ edit_project_form.project_name }}
              </div>
            </div>
          </div>
          <div class="md-form teal lighten-2">
            {{ edit_project_form.summary }}
          </div>
          <div class="md-form teal lighten-2 input-group block-center">
            <div class="input-group-addon m-1 text-center">
              <div class="input-group-text block-center">
                <i class="fas fa-users mr-2"></i>Workers<i class="fas fa-users ml-2"></i>
              </div>
            </div>
            {{ edit_project_form.workers }}
          </div>
        </div>
        <div class="block-center error p-1" id="{{ selected_project }}"></div>
        <div class="modal-footer block-center">
          <button type="button" class="btn btn-default btn-lg" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-success btn-lg">Save project</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endif %}

{% if new_task_form %}
<div class="modal fade card" id="newTaskForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog form-dialog">
    <div class="modal-content form-content container-fluid text-center p-1">
      <form action="" id="new-task-form" method="POST" novalidate>
        <div style="display:none"><input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token_value }}" /></div>
        <div class="modal-header mb-3">
          <h4 class="modal-title font-weight-bold">New Task</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body jumbotron mx-1">
          <div class="row teal lighten-2 m-1">
            <div class="col-12">
              <div class="md-form">
                <i class="fas fa-user-tag mr-2" title="task title"></i>
                {{ new_task_form.title }}
              </div>
            </div>
          </div>
          <div class="row teal lighten-2 m-1">
            <div class="col-md-6">
              <div class="md-form">
                <i class="fas fa-calendar-alt mr-2" title="available from"></i>Available from:
                {{ new_task_form.available_from }}
              </div>
            </div>
            <div class="col-md-6">
              <div class="md-form">
                <i class="fas fa-calendar-alt mr-2" title="available to"></i>Available to:
                {{ new_task_form.available_to }}
              </div>
            </div>
          </div>
          <div class="row teal lighten-2 m-1">
            <div class="col-md-12">
              <div class="md-form">
                {{ new_task_form.description }}
              </div>
            </div>
          </div>
          <div class="row teal lighten-2 m-1">
            <div class="col-md-4">
              <div class="md-form input-group block-center">
                <div class="input-group-addon m-1">
                  <span class="input-group-text">Task priority</span>
                </div>
                {{ new_task_form.priority_of_task }}
              </div>
            </div>
            <div class="col-md-4">
              <div class="md-form input-group block-center">
                <div class="input-group-addon m-1">
                  <span class="input-group-text">Task type</span>
                </div>
                {{ new_task_form.type_of_task }}
              </div>
            </div>
            <div class="col-md-3">
              <div class="md-form input-group block-center">
                <span class="input-group-text">Estimated time</span>{{ new_task_form.estimated_time }}
              </div>
            </div>
          </div>
        </div>
        <div class="block-center error p-1" id="{{ selected_task }}"></div>
        <div class="modal-footer block-center">
          <button type="button" class="btn btn-default btn-lg" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-success btn-lg">Add task</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endif %}

{% if edit_task_form %}
<div class="modal fade card" id="editTaskForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog form-dialog">
    <div class="modal-content form-content container-fluid text-center p-1">
      <form action="" id="edit-task-form" method="POST" novalidate>
        <div style="display:none"><input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token_value }}" /></div>
        <div class="modal-header mb-3">
          <h4 class="modal-title font-weight-bold">Edit Task</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body jumbotron mx-1">
          <div class="row teal lighten-2 m-1">
            <div class="col-12">
              <div class="md-form">
                <i class="fas fa-user-tag mr-2" title="task title"></i>
                {{ edit_task_form.title }}
              </div>
            </div>
          </div>
          <div class="row teal lighten-2 m-1">
            <div class="col-md-6">
              <div class="md-form">
                <i class="fas fa-calendar-alt mr-2" title="available from"></i>Available from:
                {{ edit_task_form.available_from }}
              </div>
            </div>
            <div class="col-md-6">
              <div class="md-form">
                <i class="fas fa-calendar-alt mr-2" title="available to"></i>Available to:
                {{ edit_task_form.available_to }}
              </div>
            </div>
          </div>
          <div class="row teal lighten-2 m-1">
            <div class="col-md-12">
              <div class="md-form">
                {{ edit_task_form.description }}
              </div>
            </div>
          </div>
          <div class="row teal lighten-2 m-1">
            <div class="col-md-4">
              <div class="md-form input-group block-center">
                <div class="input-group-addon m-1">
                  <span class="input-group-text">Task priority</span>
                </div>
                {{ edit_task_form.priority_of_task }}
              </div>
            </div>
            <div class="col-md-4">
              <div class="md-form input-group block-center">
                <div class="input-group-addon m-1">
                  <span class="input-group-text">Task type</span>
                </div>
                {{ edit_task_form.type_of_task }}
              </div>
            </div>
            <div class="col-md-3">
              <div class="md-form input-group block-center">
                <span class="input-group-text">Estimated time</span>{{ edit_task_form.estimated_time }}
              </div>
            </div>
          </div>
        </div>
        <div class="block-center error p-1" id="{{ selected_task }}"></div>
        <div class="modal-footer block-center">
          <button type="button" class="btn btn-default btn-lg" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-success btn-lg">Save task</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endif %}
