{% extends 'index.html' %}


<!-- project list block -->
{% block project_list %}
{% for project in projects_list %}
{% if project.is_completed == False %}
<div class="card m-3 border border-info">
  {% if worker in project.workers.all or user.is_superuser %}
  <div class="task m-1 light-green lighten-2 row">
    <div class="m-1 project col-7">
      <a class="project-detail" alt="{{ project.id }}" title="{{ project.project_name }}">{{ project.project_name }}</a>
    </div>
    <div class="m-1 col-2 ml-auto text-center">
      {% if user.is_superuser %}
      <i class="fas fa-times mr-3" title="close the project" alt="{{ project.id }}"></i>
      <i class="fas fa-edit" alt="{{ project.id }}"></i>
      {% endif %}
      <i class="fas fa-lock-open m-1" title="available"></i>
    </div>
    <div class="m-1 col-2 created_on ml-auto" title="created on">{{ project.created_on }}</div>
  </div>
  {% else %}
  <div class="task m-1 orange lighten-2 row">
    <div class="m-1 project col-8" title="{{ project.project_name }}">{{ project.project_name }}</div>
    <div class="m-1 col-1 ml-auto text-center"><i class="fas fa-lock" title="unavailable"></i></div>
    <div class="m-1 col-2 created_on ml-auto" title="created on">{{ project.created_on }}</div>
  </div>
  {% endif %}
  <div class="m-1 row">Workers: {{ project.workers.all|join:", " }}</div>
</div>
{% else %}
<div class="card m-3 border border-warning">
  <div class="task m-1 teal lighten-4 row">
    <div class="m-1 project col-7">
      <span title="{{ project.project_name }}">{{ project.project_name }}</span>
    </div>
    <div class="m-1 col-2 ml-auto text-center">
      {% if user.is_superuser %}
      <i class="fas fa-external-link-alt mr-3" title="open the project again" alt="{{ project.id }}"></i>
      <i class="fas fa-minus-square mr-3" title="to trash" alt="{{ project.id }}"></i>
      <i class="fas fa-lock-open mr-3" title="available"></i>
      {% else %}
      <i class="fas fa-lock m-1" title="unavailable"></i>
      {% endif %}
    </div>
    <div class="m-1 col-2 created_on ml-auto" title="end date">{{ project.date_of_end }}</div>
  </div>
</div>
{% endif %}
{% endfor %}
<!-- end project list block -->

<!-- paginator -->
<nav class="font-weight-bold d-flex m-3 justify-content-center" aria-label="Page navigation example">
  {% if projects_list.has_other_pages %}
  <ul class="pagination pagination-circle pg-blue justify-content-center">
    {% if projects_list.has_previous %}
    <li class="page-item"><a href="?page={{ projects_list.previous_page_number }}"><span class="page-link">&laquo;</span></a></li>
    {% else %}
    <li class="page-item disabled"><span class="page-link">&laquo;</span></li>
    {% endif %}
    {% for p in projects_list.paginator.page_range %}
    {% if projects_list.number == p %}
    <li class="page-item active"><span class="page-link" aria-hidden="true">{{ p }}<span class="sr-only">(current)</span></span></li>
    {% else %}
    <li class="page-item"><a class="page-link" href="?page={{ p }}">{{ p }}</a></li>
    {% endif %}
    {% endfor %}
    {% if projects_list.has_next %}
    <li class="page-item"><a class="page-link" href="?page={{ projects_list.next_page_number }}">&raquo;</a></li>
    {% else %}
    <li class="page-item disabled"><span class="page-link">&raquo;</span></li>
    {% endif %}
    {% endif %}
  </ul>
</nav>
<!-- end paginator -->
{% endblock %}
