{% extends 'index.html' %}



{% block navbar %}
<!-- header with navbar menu -->
<nav class="navbar navbar-light amber fixed-top lighten-4 mb-4">
  {% if user.is_authenticated %}
  <ul class="navbar-nav mr-auto nav-flex-icons m-1">
    <li class="nav-item avatar">
      <a href="{% url 'home' %}" class="nav-link rounded-circle block-center p-0 worker-avatar" title="back to home">
        <img src="{{ worker.avatar.url }}" class="img-responsive" id="avatar-small" alt="avatar small" height="35">
      </a>
    </li>
  </ul>
  <button class="navbar-toggler first-button" type="button" data-toggle="collapse" data-target="#navbar-top" aria-controls="navbar-top" aria-expanded="false" aria-label="Toggle navigation">
    <div class="animated-icon"><span></span><span></span><span></span></div>
  </button>
  {% endif %}
  <div class="collapse navbar-collapse" id="navbar-top">
    <ul class="navbar-nav ml-auto">
      {% if user.is_authenticated %}
      <li class="nav-item m-1 text-center">
        <a href="{% url 'home' %}" class="nav-link menu-link block-center p-1 worker-avatar" onclick="closeMenu()">
          <i class="fas fa-home mr-1"></i>Home</a>
      </li>
      <li class="nav-item m-1 text-center">
        <a class="nav-link menu-link block-center p-1" id="account" onclick="closeMenu()">
          <i class="fas fa-user-circle mr-1"></i>Account</a>
      </li>
      {% if user.is_superuser %}
      <li class="nav-item m-1 text-center">
        <a class="nav-link menu-link block-center p-1" id="add-new-worker" onclick="closeMenu()">
          <i class="fas fa-user-plus mr-1"></i>Add new worker</a>
      </li>
      <li class="nav-item m-1 text-center">
        <a class="nav-link menu-link block-center p-1" id="list-of-workers" onclick="closeMenu()">
          <i class="fas fa-users mr-1"></i>List of workers</a>
      </li>
      <li class="nav-item m-1 text-center">
        <a class="nav-link menu-link block-center p-1" id="add-new-project" onclick="closeMenu()">
          <i class="fas fa-plus-square mr-1"></i>Create new project</a>
      </li>
      {% endif %}
      <li class="nav-item m-1 text-center">
        <a class="nav-link menu-link block-center p-1" id="list-of-tasks" onclick="closeMenu()">
          <i class="fas fa-chart-line mr-1"></i>Active tasks</a>
      </li>
      <li class="nav-item m-1 text-center">
        <a class="nav-link menu-link block-center p-1 show-timelogs" onclick="closeMenu()">
          <i class="fas fa-stopwatch mr-1"></i>Time logs</a>
      </li>
      <li class="nav-item m-1 text-center">
        <a class="nav-link menu-link block-center p-1" href="{% url 'signout' %}">
          <i class="fas fa-sign-out-alt mr-1"></i>Log Out</a>
      </li>
    </ul>
  </div>
  {% endif %}
</nav>
<!-- end header -->
{% endblock %}

{% block main_block %}
{% for project in projects_list %}
{% if project.is_completed == False %}
<div class="card m-1 border border-info project-card" id="{{ project.id }}">
  {% if worker in project.workers.all or user.is_superuser %}
  <div class="p-1 m-1 light-green jumbotron lighten-2 waves-effect waves-light block-center text-center row">
    <div class="p-1 project-detail font-weight-bold col-lg-8 brief col-xs-8" title="{{ project.project_name }}">
      {{ project.project_name }}
    </div>
    <div class="col-lg-2 col-xs-2 ml-auto block-center p-1 text-center">
      {% if user.is_superuser %}
      <i class="far fa-times-circle m-1 mr-2 text-center" title="close the project"></i>
      <i class="fas fa-edit m-1 mr-2 text-center" title="edit the project"></i>
      {% endif %}
      <i class="fas fa-lock-open m-1 text-center" title="available"></i>
    </div>
    <div class="col-lg-2 col-xs-2 block-center date ml-auto" title="created on">{{ project.created_on }}</div>
  </div>
  {% else %}
  <div class="p-1 m-1 orange lighten-2 waves-effect waves-light block-center text-center row">
    <div class="p-1 col-lg-8 col-xs-8 text-center" title="{{ project.project_name }}">{{ project.project_name }}</div>
    <div class="p-1 col-lg-2 col-xs-2 ml-auto text-center"><i class="fas fa-lock" title="unavailable"></i></div>
    <div class="col-lg-2 col-xs-2 block-center date ml-auto" title="created on">{{ project.created_on }}</div>
  </div>
  {% endif %}
  <div class="row p-1">
    <div class="col-lg-12 col-xs-12 text-left">
      Workers: {{ project.workers.all|join:", " }}
    </div>
  </div>
</div>
{% else %}
<div class="card m-1 border border-warning project-card" id="{{ project.id }}">
  <div class="p-1 m-1 teal lighten-4 waves-effect waves-light block-center text-center row">
    <div class="p-1 col-lg-8 col-xs-8 font-weight-bold" title="{{ project.project_name }}">
      {{ project.project_name }}
    </div>
    <div class="col-lg-2 col-xs-2 ml-auto block-center text-center">
      {% if user.is_superuser %}
      <i class="far fa-arrow-alt-circle-up m-1 mr-2 text-center" title="open the project again"></i>
      <i class="fas fa-trash-alt m-1 mr-2 text-center" title="to trash"></i>
      <i class="fas fa-lock-open m-1 text-center" title="available"></i>
      {% else %}
      <i class="fas fa-lock m-1 text-center" title="unavailable"></i>
      {% endif %}
    </div>
    <div class="col-lg-2 col-xs-2 block-center date ml-auto" title="end date">{{ project.date_of_end }}</div>
  </div>
</div>
{% endif %}
{% endfor %}
{% endblock %}

{% block paginator %}
<nav class="font-weight-bold d-flex m-3 justify-content-center" aria-label="Page navigation example">
  {% if projects_list.has_other_pages %}
  <ul class="pagination pagination-circle pg-blue justify-content-center">
    {% if projects_list.has_previous %}
    <li class="page-item"><a href="?page={{ projects_list.previous_page_number }}"><span class="page-link">&laquo;</span></a></li>
    {% else %}
    <li class="page-item disabled"><span class="page-link">&laquo;</span></li>
    {% endif %}
    {% for p in projects_list.paginator.page_range %}
    {% if projects_list.number == p %}
    <li class="page-item active"><span class="page-link" aria-hidden="true">{{ p }}<span class="sr-only">(current)</span></span></li>
    {% else %}
    <li class="page-item"><a class="page-link" href="?page={{ p }}">{{ p }}</a></li>
    {% endif %}
    {% endfor %}
    {% if projects_list.has_next %}
    <li class="page-item"><a class="page-link" href="?page={{ projects_list.next_page_number }}">&raquo;</a></li>
    {% else %}
    <li class="page-item disabled"><span class="page-link">&raquo;</span></li>
    {% endif %}
    {% endif %}
  </ul>
</nav>
{% endblock %}
