<!-- project detail page -->
{% if worker in project.workers.all or user.is_superuser %}
<div class="jumbotron" id="{{ project.id }}">
  <div class="p-1 m-1 block-center text-center row">
    <div class="col-lg-11 col-xs-11 block-center text-center project-name">
      <h1>{{ project.project_name }}</h1>
    </div>
    <div class="col-lg-1 col-xs-1 mr-auto block-center text-center">
      {% if user.is_superuser %}
      <i class="fas fa-plus-circle m-1 mr-2 text-center" onclick="closeMenu()" title="add new task"></i>
      <i class="fas fa-edit m-1 text-center" title="edit the project"></i>
      {% endif %}
    </div>
  </div>
  <hr class="my-3">
  <div class="container-fluid z-depth-5 text-justify cyan lighten-5 p-3 m-auto project-summary">{{ project.summary|safe }}</div>
  <div class="p-1 mt-3 grey" id="task-content">
    {% for task in task_list %}
    {% if not task.is_completed %}
    <div class="p-1 m-3 white task" id="{{ task.id }}">
      <div class="block-center text-center row success-color-dark p-3 m-3">
        <div class="col-lg-7 col-xs-7 block-center text-center waves-effect waves-light p-3 warning-color" data-toggle="collapse" data-target="#summary{{ task.id }}" title="{{ task.title }}">
          {{ task.title }}
        </div>
        <div class="col-lg-4 col-xs-4 mr-auto block-center p-1 text-center">
          {% if user.is_superuser %}
          <i class="far fa-window-close m-1 mr-2 text-center" title="close the task"></i>
          <i class="far fa-edit m-1 mr-2 text-center" title="edit the task"></i>
          {% endif %}
          {% if task.is_available == True %}
          <i class="fas fa-sync m-1 mr-2 text-center" title="synchronize"></i>
          {% if task.is_active == False %}
          <i class="far fa-check-square  m-1 mr-2 text-center" title="start working"></i>
          {% elif worker == task.worker %}
          <i class="far fa-pause-circle m-1 mr-2 text-center" title="finish working"></i>
          {% else %}
          <i class="fas fa-lock m-1 mr-2 text-center" title="active"></i>
          {% endif %}
          <i class="far fa-plus-square m-1 text-center" title="add comment"></i>
          {% else %}
          <h6 class="m-1 text-center">The task is unavailable</h6>
          {% endif %}
        </div>
        <div class="col-lg-1 col-xs-1 mr-auto block-center p-1 text-center">
          <i class="fas p-1 fa-user-clock" title="estimated time"><small class="p-1 block-center text-center"> {{ task.estimated_time }}</small></i>
        </div>
        <div class="col-lg-12 col-xs-12 text-center p-1">
          <div id="summary{{ task.id }}" class="collapse">
            <div class="container-fluid grey lighten-2 p-1">
              <div class="block-center text-center row white m-1">
                {% if task.is_available == True %}
                <div class="col-lg-12 col-xs-12 summary-content text-justify p-3" contenteditable="true" id="content{{ task.id }}">{{ task.description|safe }}</div>
                <div class="col-lg-12 col-xs-12 m-1 p-1"><i class="fas fa-save m-1 text-center" title="save"></i></div>
                {% else %}
                <div class="col-lg-12 col-xs-12 summary-content text-justify p-3" id="content{{ task.id }}">{{ task.description|safe }}</div>
                {% endif %}
              </div>
              <div class="block-center text-center row orange accent-1">
                <div class="col-lg-4 col-xs-4 p-1 block-center text-center">Created: {{ task.date_of_start }}</div>
                <div class="col-lg-2 col-xs-2 p-1 block-center text-center">Priority: {{ task.get_priority_of_task_display }}</div>
                <div class="col-lg-2 col-xs-2 p-1 block-center text-center">Type: {{ task.get_type_of_task_display }}</div>
                {% if task.worker %}
                <div class="col-lg-4 col-xs-4 p-1 block-center text-center task_worker" id="task_worker{{ task.id }}">Worker: {{ task.worker }}</div>
                {% else %}
                <div class="col-lg-4 col-xs-4 p-1 block-center text-center task_worker" id="task_worker{{ task.id }}">Worker: the task is free</div>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="block-center text-center row">
        <div class="col-lg-12 col-xs-12 block-center text-center warning-color m-1 p-1">
          Available from: {{ task.available_from }} to: {{ task.available_to }}
        </div>
      </div>
      {% if task.is_available == True %}
      <div class="silver border border-warning p-1 m-1" id="more{{ task.id }}">
        <h5>To load comments, just click on the sync button</h5>
      </div>
      {% endif %}
    </div>
    {% else %}
    <div class="p-1 m-3 white task" id="{{ task.id }}">
      <div class="block-center text-center row teal lighten-4 p-1 m-3">
        <div class="col-lg-12 text-center col-xs-12 p-1 unique-color">
          <div class="row p-1 mx-2">
            <div class="col-lg-11 col-xs-11 p-1 block-center text-center waves-effect waves-light warning-color" data-toggle="collapse" data-target="#summary{{ task.id }}" title="{{ task.title }}">
              {{ task.title }}
            </div>
            <div class="col-lg-1 col-xs-1 p-1 block-center text-center">
              {% if user.is_superuser %}
              <i class="fas fa-arrow-alt-circle-up m-1 ml-2 mr-2 text-center" title="open the task again"></i>
              <i class="fas fa-trash m-1 text-center" title="to trash"></i>
              {% else %}
              <i class="far fa-calendar-check m-1 text-center"></i>
              {% endif %}
            </div>
          </div>
        </div>
        <div class="col-lg-12 col-xs-12 text-center p-1">
          <div id="summary{{ task.id }}" class="collapse">
            <div class="container-fluid grey lighten-2 p-1">
              <div class="block-center text-center row white m-1">
                <div class="col-lg-12 col-xs-12 summary-content text-justify p-3">{{ task.description|safe }}</div>
              </div>
              <div class="block-center text-center row orange accent-1">
                <div class="col-lg-12 col-xs-12 p-1 block-center text-center">End date: {{ task.date_of_end }}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endif %}
    {% endfor %}
  </div>
</div>
{% endif %}


<!-- modal form to add a new comment for task -->
<div class="modal fade" id="modalCommentForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form id="comment-form" action="" method="POST">
        {% csrf_token %}
        <div class="modal-header text-center">
          <h4 class="modal-title font-weight-bold">Add comment</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body mx-1">
          <div class="md-form">
            <textarea type="text" id="comments" name="comment" class="form-control p-2 m-1 md-textarea" placeholder="Your comments" minlength="10" required="required"></textarea>
            <div id="hide"></div>
          </div>
        </div>
        <div class="modal-footer block-center text-center">
          <button type="submit" class="btn btn-default">Save</button>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- endform -->

<!-- modal form to show timelogs of task -->
<div class="modal fade right" id="timeLogForm" tabindex="-1" role="dialog" aria-labelledby="mytimeLogForm" aria-hidden="true">
  <div class="modal-dialog modal-full-height modal-right" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="mytimeLogForm">Time logs</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="text-center p-1" id="time-logs">
        </div>
        <div class="modal-footer block-center text-center m-1 p-1">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- endform -->
