<!-- project detail page -->
{% if worker in project.workers.all or user.is_superuser %}
<div class="jumbotron" id="{{ project.id }}">
  <div class="p-1 m-1 block-center text-center row">
    <div class="col-lg-11 col-xs-11 block-center text-center project-name">
      <h1 class="h1-responsive font-weight-bold">{{ project.project_name }}</h1>
    </div>
    <div class="col-lg-1 col-xs-1 mr-auto block-center text-center">
      {% if user.is_superuser %}
      <i class="fas fa-plus-circle m-1 mr-2 text-center" onclick="closeMenu()" title="add new task"></i>
      <i class="fas fa-edit m-1 text-center" title="edit the project"></i>
      {% endif %}
    </div>
  </div>
  <hr class="my-3">
  <div class="container-fluid z-depth-5 text-justify cyan lighten-5 p-3 m-auto project-summary">{{ project.summary|safe }}</div>
  <div class="p-1 mt-3 grey" id="task-content">
    {% for task in task_list %}
    {% if not task.is_completed %}
    <div class="p-1 m-3 white task" id="{{ task.id }}">
      <div class="block-center text-center row success-color-dark p-3 m-3">
        <div class="col-lg-7 col-xs-7 block-center font-weight-bold text-center waves-effect waves-light p-3 warning-color" data-toggle="collapse" data-target="#summary{{ task.id }}" title="{{ task.title }}">
          {{ task.title }}
        </div>
        <div class="col-lg-4 col-xs-4 mr-auto block-center p-1 text-center">
          {% if user.is_superuser %}
          <i class="far fa-window-close m-1 mr-2 text-center" title="close the task"></i>
          <i class="far fa-edit m-1 mr-2 text-center" title="edit the task"></i>
          {% endif %}
          {% if task.is_available == True %}
          <i class="fas fa-sync m-1 mr-2 text-center" title="load comments"></i>
          {% if task.is_active == False %}
          <i class="far fa-check-square m-1 mr-2 text-center" title="start working"></i>
          {% elif worker == task.worker %}
          <i class="far fa-pause-circle m-1 mr-2 text-center" title="finish working"></i>
          {% else %}
          <i class="fas fa-lock m-1 mr-2 text-center" title="active"></i>
          {% endif %}
          <i class="far fa-plus-square m-1 text-center" title="add comment"></i>
          {% else %}
          <h6 class="m-1 text-center">The task is unavailable</h6>
          {% endif %}
        </div>
        <div class="col-lg-1 col-xs-1 mr-auto block-center time text-center">
          <div class="row block-center">
            <div class="col-lg-12 col-xs-12 mb-3 text-center">
              <i class="fas fa-user-clock text-center mx-2" title="spent time"></i>{{ task.spent_time }}
            </div>
            <div class="col-lg-12 col-xs-12 mb-1 text-center">
              <i class="fas fa-business-time text-center mx-2" title="estimated time"></i>{{ task.estimated_time }}
            </div>
          </div>
        </div>
        <div class="col-lg-12 col-xs-12 text-center p-1">
          <div id="summary{{ task.id }}" class="collapse">
            <div class="container-fluid grey lighten-2 p-1">
              <div class="block-center text-center row white m-1">
                {% if task.is_available == True %}
                <div class="col-lg-12 col-xs-12 summary-content text-justify p-3" contenteditable="true" id="content{{ task.id }}">{{ task.description|safe }}</div>
                <div class="col-lg-12 col-xs-12 m-1 p-1"><i class="fas fa-save m-1 text-center" title="save"></i></div>
                {% else %}
                <div class="col-lg-12 col-xs-12 summary-content text-justify p-3" id="content{{ task.id }}">{{ task.description|safe }}</div>
                {% endif %}
              </div>
              <div class="block-center text-center row orange accent-1">
                <div class="col-lg-4 col-xs-4 p-1 block-center text-center">Created: {{ task.date_of_start }}</div>
                <div class="col-lg-2 col-xs-2 p-1 block-center text-center">Priority: {{ task.get_priority_of_task_display }}</div>
                <div class="col-lg-2 col-xs-2 p-1 block-center text-center">Type: {{ task.get_type_of_task_display }}</div>
                {% if task.worker %}
                <div class="col-lg-4 col-xs-4 p-1 block-center text-center task_worker" id="task_worker{{ task.id }}">Worker: {{ task.worker }}</div>
                {% else %}
                <div class="col-lg-4 col-xs-4 p-1 block-center text-center task_worker" id="task_worker{{ task.id }}">Worker: the task is free</div>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="block-center text-center row">
        <div class="col-lg-12 col-xs-12 block-center text-center warning-color m-1 p-1">
          Available from: {{ task.available_from }} to: {{ task.available_to }}
        </div>
      </div>
      {% if task.is_available == True %}
      <div class="silver border border-warning p-1 m-1" id="more{{ task.id }}">
        <h5>To load comments, just click on the sync button</h5>
      </div>
      {% endif %}
    </div>
    {% else %}
    <div class="p-1 m-3 white task" id="{{ task.id }}">
      <div class="block-center text-center row teal lighten-4 p-1 m-3">
        <div class="col-lg-12 text-center col-xs-12 p-1 unique-color">
          <div class="row p-1 mx-2">
            <div class="col-lg-11 col-xs-11 p-1 block-center font-weight-bold text-center waves-effect waves-light warning-color" data-toggle="collapse" data-target="#summary{{ task.id }}" title="{{ task.title }}">
              {{ task.title }}
            </div>
            <div class="col-lg-1 col-xs-1 p-1 block-center text-center">
              {% if user.is_superuser %}
              <i class="fas fa-arrow-alt-circle-up m-1 ml-2 mr-2 text-center" title="open the task again"></i>
              <i class="fas fa-trash m-1 text-center" title="to trash"></i>
              {% else %}
              <i class="far fa-calendar-check m-1 text-center"></i>
              {% endif %}
            </div>
          </div>
        </div>
        <div class="col-lg-12 col-xs-12 text-center p-1">
          <div id="summary{{ task.id }}" class="collapse">
            <div class="container-fluid grey lighten-2 p-1">
              <div class="block-center text-center row white m-1">
                <div class="col-lg-12 col-xs-12 summary-content text-justify p-3">{{ task.description|safe }}</div>
              </div>
              <div class="block-center text-center row orange accent-1">
                <div class="col-lg-12 col-xs-12 p-1 block-center text-center">End date: {{ task.date_of_end }}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endif %}
    {% endfor %}
  </div>
</div>
{% endif %}
