<!-- project detail page -->
  {% if worker in project.workers.all or user.is_superuser %}
  <div class="jumbotron" id="{{ project.id }}">
  <div class="p-1 m-1 block-center text-center row">
    <div class="col-lg-11 col-xs-11 ml-auto block-center text-center">
      <h1>{{ project.project_name }}</h1>
    </div>
    <div class="col-lg-1 col-xs-1 ml-auto block-center text-center">
      {% if user.is_superuser %}
      <i class="fas fa-plus-circle m-1 mr-2 text-center" onclick="closeMenu()" title="add new task"></i>
      <i class="fas fa-edit m-1 text-center" title="edit the project"></i>
      {% endif %}
    </div>
  </div>
  <hr class="my-3">
  <div class="container-fluid z-depth-5 text-justify cyan lighten-5 p-3 m-auto">{{ project.summary|safe }}</div>
  <div class="p-1 mt-3 grey" id="task-content">
    {% for task in task_list %}
    {% if not task.is_completed %}
    <div class="p-1 m-3 white task" id="{{ task.id }}">
      <div class="block-center text-center row success-color-dark p-3 m-3">
        <div class="col-lg-7 col-xs-7 block-center text-center p-3 warning-color">
          <a title="{{ task.title }}" data-toggle="collapse" data-target="#summary{{ task.id }}">
            <span>{{ task.title }}</span>
          </a>
        </div>
        <div class="col-lg-4 col-xs-4 ml-auto block-center p-1 text-center">
          {% if user.is_superuser %}
          <i class="far fa-window-close m-1 mr-2 text-center" title="close the task"></i>
          {% endif %}
          {% if task.is_available == True %}
          <i class="fas fa-sync m-1 mr-2 text-center" title="synchronize"></i>
            {% if not task.is_active %}
          <i class="far fa-check-square  m-1 mr-2 text-center" title="start"></i>
            {% elif worker == task.worker %}
            <i class="far fa-pause-circle m-1 mr-2 text-center" title="end"></i>
            {% else %}
            <i class="fas fa-lock m-1 mr-2 text-center" title="active"></i>
            {% endif %}
            <i class="far fa-plus-square m-1 text-center" title="add comment"></i>
          {% else %}
            <h5 class="m-1 text-center">The task is unavailable</h5>
          {% endif %}
        </div>
        <div class="col-lg-1 col-xs-1 ml-auto block-center p-1 text-center">
          <i class="fas p-1 fa-user-clock" title="estimated time"><span class="time-block p-1 block-center text-center"> {{ task.estimated_time }}</span></i>
        </div>
        <div class="col-lg-12 col-xs-12 text-center p-1">
          <div id="summary{{ task.id }}" class="collapse">
            <div class="container-fluid grey lighten-2 p-1">
              <div class="block-center text-center row white m-1">
                <div class="col-lg-12 col-xs-12 summary-content text-justify p-3" contenteditable="true" id="content{{ task.id }}">{{ task.description|safe }}</div>
                <div class="col-lg-12 col-xs-12 m-1 p-1"><i class="fas fa-save m-1 text-center" title="save"></i></div>
              </div>
              <div class="block-center text-center row orange accent-1">
                <div class="col-lg-3 col-xs-3 p-1 block-center text-center">Created: {{ task.date_of_start }}</div>
                <div class="col-lg-3 col-xs-3 p-1 block-center text-center">Priority: {{ task.get_priority_of_task_display }}</div>
                <div class="col-lg-3 col-xs-3 p-1 block-center text-center">Type: {{ task.get_type_of_task_display }}</div>
                {% if task.worker %}
                <div class="col-lg-3 col-xs-3 p-1 block-center text-center task_worker" id="task_worker{{ task.id }}">Worker: {{ task.worker }}</div>
                {% else %}
                <div class="col-lg-3 col-xs-3 p-1 block-center text-center task_worker" id="task_worker{{ task.id }}">Worker: the task is free</div>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="block-center text-center row">
        <div class="col-lg-12 col-xs-12 block-center text-center warning-color m-1 p-1">
          Available from: {{ task.available_from }} to: {{ task.available_to }}
        </div>
      </div>
      {% if task.is_available == True %}
      <div class="silver border border-warning p-1 m-2 block-center text-center" id="more{{ task.id }}">
        <h5>To load comments, just click on the sync button</h5>
      </div>
      {% endif %}
    </div>
    {% else %}
    <div class="p-1 m-3 white">
      <div class="row align-items-center teal lighten-4 p-3 m-3">
        <div class="col-12 p-3 unique-color">
          <div class="row">
            <div class="col-11 created_on">
              <a title="completed" data-toggle="collapse" data-target="#summary{{ task.id }}"><span>{{ task.title }}</span></a>
            </div>
            <div class="col-1 mr-auto created_on">
              {% if user.is_superuser %}
              <i class="far fa-calendar-plus mr-3" title="open the task again" alt="{{ task.id }}"></i>
              <i class="fas fa-trash" title="to trash" alt="{{ task.id }}"></i>
              {% else %}
              <i class="far fa-calendar-check m-1"></i>
              {% endif %}
            </div>
          </div>
        </div>
        <div class="text-center col-12 m-1">
          <div id="summary{{ task.id }}" class="collapse">
            <div class="container-fluid grey lighten-2 p-1">
              <div class="row white m-1">
                <div class="col-12 text-justify">{{ task.description|safe }}</div>
              </div>
              <div class="row orange accent-1">
                <div class="col-12">End date: {{ task.date_of_end }}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endif %}
    {% endfor %}
  </div>
  </div>
  {% endif %}


  <!-- modal form to add a new comment for task -->
  <div class="modal fade" id="modalCommentForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <form id="comment-form" action="" method="POST">
          {% csrf_token %}
          <div class="modal-header text-center">
            <h4 class="modal-title w-100 font-weight-bold">Add comment</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body mx-3">
            <div class="md-form mb-5">
              <textarea type="text" id="comments" name="comment" class="form-control md-textarea" required="required"></textarea>
              <label data-error="wrong" data-success="right" for="comments">Your comments</label>
              <div id="hide" title=""></div>
            </div>
          </div>
          <div class="modal-footer d-flex justify-content-center">
            <button type="submit" class="btn btn-default">Save</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <!-- endform -->

  <!-- modal form to show timelogs of task -->
  <div class="modal fade right" id="timeLogForm" tabindex="-1" role="dialog" aria-labelledby="mytimeLogForm" aria-hidden="true">
    <div class="modal-dialog modal-full-height modal-right" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title w-100" id="mytimeLogForm">Time logs</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row justify-content-center align-items-center" id="time-logs">
          </div>
          <div class="modal-footer justify-content-center mt-3">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- endform -->
