{% for log in timelogs %}
<div class="align-items-center light-green lighten-2 p-1 m-3">
  <div class="row m-1 p-1">
    <div class="col-12 timelog_block created_on">{{ log.start_comment }}</div>
    <div class="col-12 timelog_block created_on">{{ log.time_of_start }}</div>
  </div>
  {% if log.time_of_end %}
  <div class="row m-1">
    <div class="col-12 timelog_block created_on">{{ log.end_comment }}</div>
    <div class="col-12 timelog_block created_on">{{ log.time_of_end }}</div>
  </div>
  <div class="row m-1">
    <div class="col-12 timelog_block created_on">Spend time: {{ log.spend_time|time:"H:i:s" }}</div>
  </div>
  {% endif %}
</div>
{% endfor %}
