@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-width: 100%;
  min-height: 100vh;
  background-image: linear-gradient(120deg, #487eb0, #fbc531);
  background-repeat: no-repeat;
  font-family: 'Poppins', sans-serif;
  font-size: 1.1em;
}

.error {
  visibility: hidden;
  font-weight: 1000;
  color:rgb(200, 18, 18);
}

.date {
  font-size: 0.7em;
}

.time {
 font-size: 0.6em;
}

.picker-date {
  cursor: pointer;
}

.fas, .far, .fab {
  cursor: pointer;
  font-size: 1.7em;
}

#id_workers {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 35vh;
  padding: 10px;
  line-height: 1.3em;
  font-size: 1.2em;
  font-weight: 800;
  cursor: pointer;
}

#id_workers option {
  padding: 5px;
  background: rgba(33, 51, 27, 0.71);
}

#id_workers option:hover {
  color: rgba(107, 28, 13, 0.91);
  background-color: rgba(31, 166, 180, 0.83);
}

#id_post, #id_date_of_birth, #id_priority_of_task, #id_type_of_task, #change-avatar {
  cursor: pointer;
}

.red-text {
  font-weight: 1000;
}

a {
  text-decoration: none;
}

.animated-icon {
  width: 30px;
  height: 20px;
  position: relative;
  margin: 0px;
  transform: rotate(0deg);
  transition: .5s ease-in-out;
  cursor: pointer;
}

.animated-icon span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: .25s ease-in-out;
}

.animated-icon span {
  background: #e65100;
}

.animated-icon span:nth-child(1) {
  top: 0px;
}

.animated-icon span:nth-child(2) {
  top: 10px;
}

.animated-icon span:nth-child(3) {
  top: 20px;
}

.animated-icon.open span:nth-child(1) {
  top: 11px;
  transform: rotate(135deg);
}

.animated-icon.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
}

.animated-icon.open span:nth-child(3) {
  top: 11px;
  transform: rotate(-135deg);
}

.block-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

#back-to-top-btn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  background-color: #fff;
  color: #333;
  cursor: pointer;
  outline: none;
  border: 3px solid #333;
  border-radius: 50%;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  transition-property: background-color, color;
  z-index: 1000;
}

.form-dialog {
  min-width: 90vw;
  min-height: 95vh;
  padding: 0;
}

.form-content {
  height: 100%;
  border-radius: 0;
}

.user-dialog {
  min-width: 50vw;
}

.jumbotron {
  background-color: rgba(158, 204, 171, 0.42);
}

.id_avatar {
  width: 100px !important;
}

input {
  min-width: 100%;
  text-align: center;
  font-weight: 500;
}

.datepickers-container {
  font-weight: 1000;
}

.datepickers-container {
  z-index: 1051;
}

.container-fluid img {
  width: 50%;
  height: 50%;
}

#avatar-full {
  width: 100%;
  height: 100%;
}

.menu-link {
  font-size: 1.3em;
  font-weight: 1000;
  color: rgba(20, 37, 27, 0.8);
  background-color: rgba(228, 131, 94, 0.2);
}

.menu-link i {
  font-size: 1em;
}

.menu-link:hover {
  background-color: rgba(27, 142, 142, 0.65);
  color: rgba(254, 9, 38, 0.45) !important;
}

.worker-list-avatar {
  height: 35px !important;
  width: 35px !important;
}

.login-dialog {
  background-color: rgba(44, 59, 27, 0.73);
  margin-top: -50px;
  height: 100%;
}

.login-block {
  top: 50px;
  height: 90vh;
}

.welcome {
  width: 70vw;
}
